{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'archives_grid' %}">Archive</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Archive by All Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->


<!-- ##### Archive List Posts Area Start ##### -->
<div class="vizew-archive-list-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Archive Catagory & View Options -->
                <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">
                    <!-- Catagory -->
                    <div class="archive-catagory">
                        <h4><i class="fa fa-ticket" aria-hidden="true"></i> All Posts </h4>
                    </div>
                    <!-- View Options -->
                    <div class="view-options">
                        <a href="{% url 'archives_grid' %}" class="active" ><i class="fa fa-th-large" aria-hidden="true"></i></a> 
                        <a href="{% url 'archives' %}"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class ="row">
                        {% for post in posts %}
                        <!-- Single Blog Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-post-area style-2">
                                        <div class="row align-items-center">
                                            <div class="col-12 col-md-6">
                                                <!-- Post Thumbnail -->
                                                <div class="post-thumbnail">
                                                        <a href="/posts/details/{{post.id}}"> <img src="{{ post.photo_main.url }}" alt=""> </a>
                    
                                                    <!-- Video Duration 
                                                    <span class="video-duration">05.03</span> -->
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <!-- Post Content -->
                                                <div class="post-content mt-0">
                                                    <a href="#" class="post-cata cata-sm cata-success">{{ post.post_item.item_category }}</a>
                                                    <a href="/posts/details/{{post.id}}" class="post-title mb-2">{{ post.post_item }}</a>
                                                    <div class="post-meta d-flex align-items-center mb-2">
                                                        <a href="#" class="post-author">By {{ post.author }}</a>
                                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                                        <a href="#" class="post-date">{{ post.created_at | timesince}} ago</a>
                                                    </div>
                                                    <p class="mb-2">{{ post.snippet }}</p>
                                                    <div class="post-meta d-flex">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{ post.comments.count }}</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ post.total_likes }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        {% endfor%}
                        
                    </div>


                                
                
                
                <!-- Pagination -->
                <nav class="mt-50">
                    {% if posts.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            <!-- Previous Arrow -->
                            {% if posts.has_previous %}
                            <li class="page-item">
                                <a href="?page={{posts.previous_page_number}}" class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-left"></i></a>
                            </li>
                            {% endif %}
                            <!-- All the Page Number -->
                            {% for i in posts.paginator.page_range %}
                            {% if posts.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                            {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% elif i == 1 %}
                                <li class="page-item">
                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                </li>
                                <li class="page-item disabled">
                                    <a href="" class="page-link">...</a>
                                </li>
                            {% elif i == posts.paginator.num_pages %}
                            <li class="page-item disabled">
                                <a href="" class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            <!-- Next Arrow -->
                            {% if posts.has_next %}
                            <li class="page-item">
                                <a href="?page={{posts.next_page_number}}" class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"><i class="fa fa-angle-right"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                </nav>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget share-post-widget mb-50 center-block" >
                        <p>What's on your mind ?</p>
                        <a href="{% url 'create' %}" class="google"><i class="fa fa-plus" aria-hidden="true"></i> Create Post</a>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget followers-widget mb-50">
                        <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"
                                aria-hidden="true"></i><span class="counter">198</span><span>Fan</span></a>
                        <a href="https://www.twitter.com/" class="twitter"><i class="fa fa-twitter"
                                aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
                        <a href="https://www.google.com/gmail/" class="google"><i class="fa fa-google"
                                aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
                    </div>

                    



                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- ##### Archive List Posts Area End ##### -->