{% extends 'base.html' %}


{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-md-5 list-group-item">
        <form class="justify-content-center" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            <table>
            {% csrf_token %}
            {{ form.as_p }}
            <tr><td><button class="btn btn-primary justify-content-center" type="submit">Post</button></td></tr>
                </table>
        </form>
    </div>
</div>






    <!-- <div class="create-post">
        <h2>Create New Post</h2>

        <form class="site-form" action="{% url 'create' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form }}

            <input type="submit" value="Post">
        </form>
    </div> -->

{% endblock %}