{% extends 'base.html' %}


{% block content %}

<!-- <h1>Create New Post</h1><br><br>
    <form class="container justify-content-centre col-md-6 ">
        
        <div>
          <label for="text">Posts:</label>
          <select class="form-control form-control-lg">
            <option>titanic</option>
          </select>  
        </div>
        <div>
            <label for="text">Title:</label>
            <input class="form-control" type="text" placeholder="Please give title" >
        </div>
        <div>
            <label for="text">Slug:</label>
            <input class="form-control" type="text" placeholder="Please give slug">
        </div>
        <div>
            <label for="text">Body:</label>
            <input class="form-control" type="text" placeholder="Please write body" >
        </div>
        <br><br>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo Main : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 1 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 2 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 4 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <br><br>
        <div>
            <button type="submit" class="btn vizew-btn w-100 mt-30">Post</button>
        </div>
        <br><br>
    </form> -->

<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-md-5 list-group-item">
        <h1>Create New Post</h1><br><br>
        <form class="justify-content-center" action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
            <table>
            {% csrf_token %}
            {{ form.as_p }}
            <tr><td>        
                <div>
                    <button type="submit" class="btn vizew-btn w-100 mt-30">Post</button>
                </div>
            </td></tr>
            
                </table>
        </form>
    </div>
</div> -->






<!-- ##### Breadcrumb Area Start ##### -->

<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Pager Area Start ##### -->

<!-- ##### Pager Area End ##### -->
<!-- ##### Post Details Area Start ##### -->

<br>
<section class="post-details-area mb-80">
    <div class="container">
      
  
      <div class="row justify-content-center">
        <!-- Post Details Content Area -->
        <div class="col-12 col-lg-8 col-xl-7">
          <div class="post-details-content">
            <!-- Blog Content -->
            <div class="blog-content">
              <!-- Post Content -->
  
              <!-- <p>{{ post.body }}</p> -->
  
              <!-- Post Author -->
  
              <!-- Comment Area Start -->
              <!-- <div class="comment_area clearfix mb-50">
  
                
                <div class="section-heading style-2">
                  <h4>Comment</h4>
                  <div class="line"></div>
                </div>

              </div>
  
              <!-- Post A Comment Area -->
              <div class="post-a-comment-area">
  
                <!-- Section Title -->
                <div class="section-heading style-2">
                    
                    <h4>Create a Post</h4>
                    <div class="line"></div>
                </div>
  
                <!-- post Form -->
                <div class="contact-form-area">
                    <form class="form-site" action="{% url 'create' %}" method="POST" enctype="multipart/form-data"> 
                      <div class="row">
                            <div class="col-12 col-lg-12">
                              {% csrf_token %}
                              {{ form.as_p }}
  
                              <!-- <input type="email" class="form-control" id="email" placeholder="Your Email*"> -->
                            </div>

                            <div class="col-12">
                                <button class="btn vizew-btn mt-30" type="submit">Create Post</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <!-- post Form -->

              </div>

          </div>
        </div>
      </div>

      <!-- Sidebar Widget -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="sidebar-area">

          <!-- ***** Single Widget ***** -->
          <!--  -->

          <!-- ***** Single Widget ***** -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Post Details Area End ##### -->






<!-- ##### Breadcrumb Area Start ##### -->

<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Pager Area Start ##### -->

<!-- ##### Pager Area End ##### -->
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
      <div class="row">
        <div class="col-12">

        </div>
      </div>
  
      <div class="row justify-content-center">
        <!-- Post Details Content Area -->
        <div class="col-12 col-lg-8 col-xl-7">
          <div class="post-details-content">
            <!-- Blog Content -->
            <div class="blog-content">
              <!-- Post Content -->
  
              <!-- <p>{{ post.body }}</p> -->
  
              <!-- Post Author -->
  
              <!-- Comment Area Start -->
              <div class="comment_area clearfix mb-50">
  
                <!-- Section Title -->
                <div class="section-heading style-2">
                  <h4>Comment</h4>
                  <div class="line"></div>
                </div>

              </div>
  
              <!-- Post A Comment Area -->
              <div class="post-a-comment-area">
  
                <!-- Section Title -->
                <div class="section-heading style-2">
                  <h4>Create a Post</h4>
                  <div class="line"></div>
                </div>
  
                <!-- Reply Form -->
                <div class="contact-form-area">
                    <form class="form-site" action="{% url 'create' %}" method="POST" enctype="multipart/form-data"> 
                      <div class="row">
                            <div class="col-12 col-lg-12">
                              {% csrf_token %}
                              {{ form.as_p }}
  
                              <!-- <input type="email" class="form-control" id="email" placeholder="Your Email*"> -->
                            </div>

                            <div class="col-12">
                                <button class="btn vizew-btn mt-30" type="submit">Create Post</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <!-- Reply Form -->

              </div>

          </div>
        </div>
      </div>

      <!-- Sidebar Widget -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="sidebar-area">

          <!-- ***** Single Widget ***** -->
          <!--  -->

          <!-- ***** Single Widget ***** -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Post Details Area End ##### -->






    <!-- <div class="create-post">
        <h2>Create New Post</h2>

        <form class="site-form" action="{% url 'create' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form }}

            <input type="submit" value="Post">
        </form>
    </div> -->

{% endblock %}