{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="vizew-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i>
                Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'archives' %}">Archives</a></li>
            <li class="breadcrumb-item active" aria-current="page">Posts Details</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Pager Area Start ##### -->
<div class="vizew-pager-area">
  <div class="vizew-pager-prev">
    <p>PREVIOUS ARTICLE</p>

    <!-- Single Feature Post -->
    <div class="single-feature-post video-post bg-img pager-article">
      <img src="{{ prev_post.photo_main.url }}" alt="">
      <!-- Post Content -->
      <div class="post-content">
        <a href="#" class="post-cata cata-sm cata-success">{{ prev_post.post_item.item_category }}</a>
        <a href="#" class="post-cata cata-sm cata-primary">{{ prev_post.post_item }}</a>
        <a href="#" class="post-cata cata-sm cata-danger">{{ prev_post.post_item.rating }}</a>
        <a href="/posts/details/{{prev_post.id}}" class="post-title">{{ prev_post.title }}</a>
        <div class="post-meta d-flex">
          <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{ prev_post.comments.count }}</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 12</a>
          <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ prev_post.total_likes }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="vizew-pager-next">
    <p>NEXT ARTICLE</p>

    <!-- Single Feature Post -->
    <div class="single-feature-post video-post bg-img pager-article">
        <img src="{{ next_post.photo_main.url }}" alt="">
      <!-- Post Content -->
      <div class="post-content">
        <a href="#" class="post-cata cata-sm cata-success">{{ next_post.post_item }}</a>
        <a href="#" class="post-cata cata-sm cata-primary">{{ next_post.post_item }}</a>
        <a href="#" class="post-cata cata-sm cata-danger">{{ next_post.post_item.rating }}</a>
        <a href="/posts/details/{{next_post.id}}" class="post-title">{{ next_post.title }}</a>
        <div class="post-meta d-flex">
          <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>  {{ next_post.comments.count }}</a>
          <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 15</a>
          <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ next_post.total_likes }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Pager Area End ##### -->
<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="post-details-thumb mb-50 carousel slide" id="carouselExampleIndicators" data-ride="carousel"
            data-interval=2000>
            <!-- Carosel -->
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              {% if post.photo_1 %} <li data-target="#carouselExampleIndicators" data-slide-to="1"></li> {% endif %}
              {% if post.photo_2 %} <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> {% endif %}
              {% if post.photo_3 %} <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> {% endif %}
              {% if post.photo_4 %} <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> {% endif %}
              {% if post.photo_5 %} <li data-target="#carouselExampleIndicators" data-slide-to="5"></li> {% endif %}
              {% if post.photo_6 %} <li data-target="#carouselExampleIndicators" data-slide-to="6"></li> {% endif %}
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_main.url }}"
                  alt="First slide">
              </div>
              {% if post.photo_1 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_1.url }}"
                  alt="Second slide">
              </div>
              {% endif %}
              {% if post.photo_2 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_2.url }}"
                  alt="Third slide">
              </div>
              {% endif %}
              {% if post.photo_3 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_3.url }}"
                  alt="Fourth slide">
              </div>
              {% endif %}
              {% if post.photo_4 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_4.url }}"
                  alt="Five slide">
              </div>
              {% endif %}
              {% if post.photo_5 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_5.url }}" alt="Six slide">
              </div>
              {% endif %}
              {% if post.photo_6 %}
              <div class="carousel-item">
                <img class="d-block w-100" style="height: 500px;width: 70%;" src="{{ post.photo_6.url }}"
                  alt="Seven slide">
              </div>
              {% endif %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row justify-content-center">
        <!-- Post Details Content Area -->
        <div class="col-12 col-lg-8 col-xl-7">
          <div class="post-details-content">
            <!-- Blog Content -->
            <div class="blog-content">
              <!-- Post Content -->
            <div class="post-content mt-0">
                <a href="#" class="post-cata cata-xl cata-success">{{ post.post_item.item_category }}</a>
                <a href="#" class="post-cata cata-xl cata-primary">{{ post.post_item }}</a>
                <a href="#" class="post-cata cata-xl cata-danger">{{ post.post_item.rating }}</a>
                <a href="#" class="post-title mb-2">{{ post.title }}</a>
  
                <div class="d-flex justify-content-between mb-30">
                  <div class="post-meta d-flex align-items-center">
                    <a href="#" class="post-author">By {{ post.author }}</a>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <a href="#" class="post-date">{{post.created_at}}</a>
                  </div>
                  <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>  <span class="counter">{{ post.comments.count }}</span></a>
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>  <span class="counter">22</span></a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span class="counter">{{ post.total_likes }}</span></a>
                  </div>
                </div>
              </div>
  
              <p>{{ post.body }}</p>
  
              <!-- Post Author -->
              <div class="vizew-post-author d-flex align-items-center py-5">
                <div class="post-author-thumb">
                  <img src="{% static 'img/bg-img/30.jpg'%}" alt="">
                </div>
                <div class="post-author-desc pl-4">
                  <a href="#" class="author-name">{{ post.author }}</a>
                  <p>Hello! My name is {{ post.author }}. I’m a web designer and front-end web developer with over fifteen
                    years of professional.</p>
                  <div class="post-author-social-info">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
  
              <!-- Comment Area Start -->
              <div class="comment_area clearfix mb-50">
  
                <!-- Section Title -->
                <div class="section-heading style-2">
                  <h4>Comment</h4>
                  <div class="line"></div>
                </div>
  
                <ul>
                  {% for comment in comments %}
                  <!-- Single Comment Area -->
                  <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                      <!-- Comment Author -->
                      <div class="comment-author">
                        <img src="{% static 'img/bg-img/33.jpg' %}" alt="author">
                      </div>
                      <!-- Comment Meta -->
                      <div class="comment-meta">
                        <a href="#" class="comment-date">{{ comment.created_date }}</a>
                        <h6>{{ comment.author }}</h6>
                        <p>{{ comment.text }}</p>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
  
              <!-- Post A Comment Area -->
              <div class="post-a-comment-area">
  
                <!-- Section Title -->
                <div class="section-heading style-2">
                  <h4>Leave a reply</h4>
                  <div class="line"></div>
                </div>
  
                <!-- Reply Form -->
                <div class="contact-form-area">
                    <form class="form-site" action="{% url 'details' id=post.id %}" method="POST" enctype="multipart/form-data"> 
                      <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="text" class="form-control" style="color: cornsilk; " id="name" placeholder="Your Name*">
                            </div>
                            <div class="col-12 col-lg-6">
                                <input type="email" class="form-control" style="color: cornsilk;" id="email" placeholder="Your Email*">
                            </div>
                            <div class="col-12 col-lg-12">
                              {% csrf_token %}
                              {{ form }}
  
                              <!-- <input type="email" class="form-control" id="email" placeholder="Your Email*"> -->
                          </div>

                            <div class="col-12">
                                <button class="btn vizew-btn mt-30" type="submit">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <!-- Reply Form -->

              </div>

          </div>
        </div>
      </div>

      <!-- Sidebar Widget -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="sidebar-area">

          <!-- ***** Single Widget ***** -->
          <div class="single-widget share-post-widget mb-50">
            <p>Share This Post</p>
            <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
          </div>

          <!-- ***** Single Widget ***** -->
          <div class="single-widget p-0 author-widget">
            <div class="p-4">
              <img class="author-avatar" src="{% static 'img/bg-img/30.jpg' %}" alt="">
              <a href="#" class="author-name">{{ post.author.first_name }}</a>
              <div class="author-social-info">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a href="https://bd.linkedin.com/"><i class="fa fa-pinterest"></i></a>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>

            <div class="authors--meta-data d-flex">
              <p>Posted<span class="counter">{{ post.author.posted.count }}</span></p>
              <p>Likes<span class="counter">{{ post.author.likes.count }}</span></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Post Details Area End ##### -->

{% endblock %}