<div class="container">
    <form action="{% url 'like_post' %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" id="like" name="post_id" value="{{post.id}}" class="btn btn-danger"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        {% else %}
        <button type="submit" id="like" name="post_id" value="{{post.id}}" class="btn btn-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        {% endif %}
        <p> {{ post.total_likes }} Like{{ post.total_likes|pluralize }} </p>
    </form>
</div>