<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Create New Post</h1><br><br>
    <form class="container justify-content-centre col-md-6 ">
        
        <div>
          <label for="text">Posts:</label>
          <select class="form-control form-control-lg">
            <option>titanic</option>
          </select>  
        </div>
        <div>
            <label for="text">Title:</label>
            <input class="form-control" type="text" placeholder="Please give title" >
        </div>
        <div>
            <label for="text">Slug:</label>
            <input class="form-control" type="text" placeholder="Please give slug">
        </div>
        <div>
            <label for="text">Body:</label>
            <input class="form-control" type="text" placeholder="Please write body" >
        </div>
        <br><br>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo Main : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 1 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 2 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Photo 4 : </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <br><br>
        <div>
            <button type="submit" class="btn vizew-btn w-100 mt-30">Post</button>
        </div>
        <br><br>
    </form>
        
</body>
</html>