{% load static %}
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="footer-widget mb-70">
                    <!-- Logo -->
                    <a href="{% url 'index' %}" class="foo-logo d-block mb-4"><img src="{% static 'img/bg-img/logo2.png' %}" alt=""></a>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="footer-widget mb-70">
                    <h6 class="widget-title">Features</h6>
                    <!-- Twitter Slides -->
                    <div class="twitter-slides owl-carousel">

                        <!-- Single Twitter Slide -->
                        <div class="single--twitter-slide">
                            <!-- Single Feature -->
                            <div class="single-twit">
                                <p><span>@Automated Rating</span>Share your opinion of your favourite entertainment issues.</p>
                            </div>
                            <!-- Single Feature -->
                            <div class="single-twit">
                                <p> <span>@Automated Rating</span> Best platform for rating system. </p>
                            </div>
                        </div>

                        <!-- Single Twitter Slide -->
                        <div class="single--twitter-slide">
                            <!-- Single Feature -->
                            <div class="single-twit">
                                <p><span>@Automated Rating</span>Rating is automated by system based on your comments.</p>
                            </div>
                            <!-- Single Feature -->
                            <div class="single-twit">
                                <p> <span>@Automated Rating</span> We are at your service. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-xl-4">
                <div class="footer-widget mb-70">
                    <h6 class="widget-title">Our Address</h6>
                    <!-- Contact Address -->
                    <div class="contact-address">
                        <p>SUST,Sylhet <br> Bangladesh</p>
                        <p>Phone: +8801744139232</p>
                        <p>Email: alauddinsaikat71@gmail.com</p>
                        <p>       tamimarefinanik@gmail.com</p>
                    </div>
                    <!-- Footer Social Area -->
                    <div class="footer-social-area">
                        <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.google.com/gmail/" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/posts/" target="_blank">Automated Rating</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
                <div class="col-12 col-sm-6">
                    <nav class="footer-nav">

                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->