{% load static %}
<!-- Navbar Area -->
<div class="vizew-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">

            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="vizewNav">

                <!-- Nav brand -->
                <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="archive-list.html">Archives</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">- Home</a></li>
                                    <li><a href="archive-list.html">- Archive List</a></li>
                                    <li><a href="archive-grid.html">- Archive Grid</a></li>
                                    <li><a href="single-post.html">- Single Post</a></li>
                                    <li><a href="video-post.html">- Single Video Post</a></li>
                                    <li><a href="contact.html">- Contact</a></li>
                                    <li><a href="typography.html">- Typography</a></li>
                                    <li><a href="login.html">- Login</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Features</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="index.html">- Home</a></li>
                                        <li><a href="archive-list.html">- Archive List</a></li>
                                        <li><a href="archive-grid.html">- Archive Grid</a></li>
                                        <li><a href="single-post.html">- Single Post</a></li>
                                        <li><a href="video-post.html">- Single Video Post</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="typography.html">- Typography</a></li>
                                        <li><a href="login.html">- Login</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="index.html">- Home</a></li>
                                        <li><a href="archive-list.html">- Archive List</a></li>
                                        <li><a href="archive-grid.html">- Archive Grid</a></li>
                                        <li><a href="single-post.html">- Single Post</a></li>
                                        <li><a href="video-post.html">- Single Video Post</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="typography.html">- Typography</a></li>
                                        <li><a href="login.html">- Login</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="index.html">- Home</a></li>
                                        <li><a href="archive-list.html">- Archive List</a></li>
                                        <li><a href="archive-grid.html">- Archive Grid</a></li>
                                        <li><a href="single-post.html">- Single Post</a></li>
                                        <li><a href="video-post.html">- Single Video Post</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="typography.html">- Typography</a></li>
                                        <li><a href="login.html">- Login</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="index.html">- Home</a></li>
                                        <li><a href="archive-list.html">- Archive List</a></li>
                                        <li><a href="archive-grid.html">- Archive Grid</a></li>
                                        <li><a href="single-post.html">- Single Post</a></li>
                                        <li><a href="video-post.html">- Single Video Post</a></li>
                                        <li><a href="contact.html">- Contact</a></li>
                                        <li><a href="typography.html">- Typography</a></li>
                                        <li><a href="login.html">- Login</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>