{% load static %}
<!-- Navbar Area -->
<div class="vizew-main-menu" id="sticker">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">

            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="vizewNav">

                <!-- Nav brand -->
                <a href="index.html" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li {% if '/posts/' == request.path %} class="active" {% endif %}><a
                                    href="{% url 'index' %}">Home</a></li>

                            <li {% if 'archives' in request.path %} class="active" {% endif %}><a
                                    href="{% url 'archives' %}">Archives</a></li>

                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'index' %}">- Home</a></li>
                                    <li><a href="{% url 'archives' %}">- Archive List</a></li>
                                    <li><a href="{% url 'archives_grid' %}">- Archive Grid</a></li>
                                    <li><a href="single-post.html">- Single Post</a></li>
                                    <li><a href="video-post.html">- Single Video Post</a></li>
                                    <li><a href="contact.html">- Contact</a></li>
                                    <li><a href="typography.html">- Typography</a></li>
                                    <li><a href="login.html">- Login</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>

                            {% if user.is_authenticated %}
                            <!-- Log Out -->
                            <li>
                                <a href="javascript:{document.getElementById('logout').submit()}">
                                    Logout
                                </a>
                                <form action="{% url 'logout' %}" method="POST" id="logout">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form>
                            </li>

                            {% else %}
                            <li {% if 'register' in request.path %} class="active" {% endif %}>
                                <a href="{% url 'register' %}">Register</a>
                            </li>
                            <li {% if 'login' in request.path %} class="active"{% endif %}>
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>

                            {% endif %}

                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</div>