{% extends 'base.html' %}

{% block title %} - Login to Account {% endblock %}

{% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="vizew-breadcrumb">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Login</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Login Area Start ##### -->
  <div class="vizew-login-area section-padding-80">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                  <div class="login-content">
                      <!-- Section Title -->
                      <div class="section-heading">
                          <h4>Great to have you back!</h4>
                          <div class="line"></div>
                      </div>

                      <!-- Alerts Messages -->
                      {% include 'partials/_alerts.html' %}

                      <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <!-- if next exist I mean login required then redirect that page-->
                            {% if request.GET.next %}
                              <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                          <div class="form-group">
                              <input type="text" class="form-control" name="username" placeholder="User Name" required>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
                          </div>
                          <div class="form-group">
                              <div class="custom-control custom-checkbox mr-sm-2">
                                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                  <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                              </div>
                          </div>
                          <button type="submit" class="btn vizew-btn w-100 mt-30">Login</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ##### Login Area End ##### -->

{% endblock %}